<!DOCTYPE html>
<html>
    <body>
        <br>
        <h2>Thank you for your order {{ order.name }}</h2>
        <h3> Your Total amount is of Rs: {{ order.total }} will get delivered by Today</h3>
    </body>
</html>