@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* navbar icons */
.icons {
  width: 30%;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .icons {
    width: 22%;
    font-size: 28px;
  }
}

@media screen and (min-width: 1025px) {
  .icons {
    width: 15%;
    font-size: 32px;
  }
}

/* common */

.margin-bottom {
  margin-top: 10px;
  margin-bottom: 2%;
}

.center {
  text-align: center;
}

.color-white {
  color: white;
}

.color-blue {
  color: #172c50;
}

#bg-blue {
  background-color: #172c50;
}

.bg-blue {
  background-color: #172c50;
}

.color-green {
  color: #008060;
}

.form-heading > .color-grey {
  color: gray;
  font-size: 16px;
  font-weight: normal;
}

.color-black > a {
  color: black;
}

.margin-left {
  margin-left: 20px;
}

.width {
  width: 80%;
}

body {
  font-family: "Roboto", sans-serif;
}

Link {
  text-decoration: none;
}

/* Home Page */

.home-header {
  background-color: rgb(251, 247, 237);
  height: 10vh;
}

.home-logo {
  width: 150px;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  display: inline-block;
}

.home-logo > img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.home-logo > p {
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  color: black;
}

.login-link {
  float: right;
  padding: 18px 5% 0 0;
}

.login-link > a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .home-logo {
    width: 250px;
    margin-left: 5%;
  }

  .home-logo > img {
    width: 50px;
    height: 50px;
  }

  .home-logo > p {
    font-size: 22px;
  }

  .login-link {
    float: right;
    padding: 22px 10% 0 0;
  }

  .login-link > a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) {
  .home-logo {
    width: 250px;
    margin-left: 5%;
  }

  .home-logo > img {
    width: 50px;
    height: 50px;
  }

  .home-logo > p {
    font-size: 22px;
  }

  .login-link {
    float: right;
    padding: 22px 10% 0 0;
  }

  .login-link > a {
    font-size: 18px;
  }
}

.home-content {
  width: 100%;
  height: 80vh;
  background-color: rgb(251, 247, 237);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.quote {
  width: 80%;
  font-size: 30px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #004c3f;
}

.quote-image {
  align-self: flex-end;
}

.quote-image > img {
  display: block;
  margin: auto;
  background-size: contain;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.home-footer {
  background-color: #004c3f;
  height: 10vh;
  z-index: -1;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .home-content {
    height: 90vh;
  }
  .quote {
    width: 60%;
    font-size: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .home-content {
    width: 100%;
    height: 81vh;
    grid-template-columns: 1fr 1fr;
  }

  .quote {
    width: 80%;
    font-size: 50px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #004c3f;
  }

  .quote-image {
    align-self: center;
  }

  .home-footer {
    background-color: #004c3f;
    height: 10vh;
    z-index: -1;
  }
}

/* Login/Register Page for owner */

.background-image {
  /* background-color: #004c3f; */
  background-image: url("https://cdn.pixabay.com/photo/2020/10/10/14/37/abstract-5643323_1280.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.background-image-blue {
  /* background-color: #004c3f; */
  background-image: url("https://wallpapercave.com/wp/wp6783821.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.login-form {
  width: 95%;
  height: 65vh;
  margin: auto;
  border-radius: 2%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr;
  align-items: center;
}

.form-heading {
  margin-left: 15px;
}

.form-styling {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.form-styling > input {
  border: 1px solid black;
  width: 90%;
  height: 50px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.form-styling > button {
  width: 90%;
  border: transparent;
  border-radius: 5px;
  background-color: #004c3f;
  color: white;
  height: 50px;
}

.form-register {
  display: block;
  width: 90%;
  text-align: left;
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .login-form {
    width: 60%;
    height: 60vh;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 2fr;
    align-items: center;
  }

  .form-heading {
    margin-left: 5%;
  }

  .form-styling {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1025px) {
  .login-form {
    width: 40%;
    height: 60vh;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 2fr;
    align-items: center;
  }

  .form-heading {
    margin-left: 5%;
  }

  .form-styling {
    align-self: center;
  }
}

/* ShopHomepage */
.shop-section {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}

.shop-logo {
  width: 150px;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  display: inline-block;
}

.shop-logo > img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.shop-logo > p {
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  color: black;
}

.logout-link {
  float: right;
  padding: 22px 10% 0 0;
}

.shop-form {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.form-width {
  width: 80%;
}

.shop-list {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.shop-list > p {
  font-size: 20px;
  font-weight: 900;
}

.display-shop {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-row-gap: 1em;
  width: 100%;
  height: 220px;
  overflow: scroll;
}

.single-shop {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  justify-items: center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  height: 60px;
  width: 100%;
  justify-self: baseline;
}

.single-shop > button {
  background: transparent;
  border: none;
}

.border-none > button {
  background: transparent;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .shop-section {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .section-shop {
    width: 70%;
    margin: auto;
  }

  .shop-logo > img {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .shop-logo > p {
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    color: black;
  }

  .logout-link {
    float: right;
    padding: 22px 10% 0 0;
    font-size: 18px;
  }

  .shop-form {
    height: 30vh;
    width: 80%;
    margin: auto;
  }

  .form-width {
    width: 80%;
    height: 70%;
  }

  .shop-list {
    width: 60%;
  }

  .shop-list > p {
    font-size: 20px;
    font-weight: 900;
  }
}

@media screen and (min-width: 1025px) {
  .shop-section {
    width: 40%;
    position: absolute;
    left: 0;
  }

  .shop-list {
    align-self: flex-start;
    justify-self: center;
  }
}

/* displaying products */
.products-heading {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.products-heading > h2 {
  font-weight: bolder;
  font-size: 2rem;
}

.products-display {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

.product-image > img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.product-extra-info {
  width: 70%;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.home-product-name {
  font-size: 18px;
  font-weight: bolder;
}

.home-product-price {
  font-size: 14px;
  font-weight: bolder;
  color: gray;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .products-display {
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    width: 100%;
    height: 40vh;
  }

  .product-image {
    width: 100%;
    height: 100%;
    align-self: flex-start;
  }

  .product-extra-info {
    width: 70%;
    height: 60px;
    text-align: center;
  }

  .home-product-name {
    font-size: 22px;
    font-weight: bolder;
  }

  .home-product-price {
    font-size: 18px;
    font-weight: bolder;
    color: gray;
  }
}

@media screen and (min-width: 1025px) {
  .products-display {
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    width: 100%;
    height: 70vh;
  }

  .product-image {
    width: 100%;
    height: 100%;
    align-self: flex-start;
  }

  .product-extra-info {
    width: 70%;
    height: 60px;
    text-align: center;
  }

  .home-product-name {
    font-size: 25px;
    font-weight: bolder;
  }

  .home-product-price {
    font-size: 22px;
    font-weight: bolder;
    color: gray;
  }
}

/* Single product page */

.section-product1 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.2fr 2fr 0.2fr;
  justify-items: center;
  align-items: center;
}

.big-image1 {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.big-image1 > img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.image-info1 {
  width: 80%;
  height: 12vh;
}

.product-name1 {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.product-price1 {
  font-size: 14px;
  color: gray;
  padding-top: 10px;
}

.description1 {
  width: 80%;
  height: auto;
  font-weight: bolder;
  align-self: flex-start;
  margin-top: 10px;
}

.big-description1 {
  font-size: 18px;
}

.brief1 {
  font-size: 16px;
  padding-top: 20px;
  font-weight: lighter;
  color: gray;
  line-height: 20px;
}

.add-to-cart1 {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #172c50;
}

.add-to-cart1 > p {
  font-size: 18px;
  padding-top: 10px;
  display: block;
  color: white;
}

.cart-form {
  grid-row: 4;
  width: 80%;
  margin: auto;
  align-self: flex-start;
  padding-bottom: 10px;
}

.cart-form > input {
  margin-top: 30px;
  width: 15%;
  border: none;
  font-size: 20px;
  background-color: transparent;
}

.cart-form > label {
  font-size: 18px;
  padding-right: 10px;
  font-weight: bolder;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .section-product1 {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
  }

  .big-image1 {
    width: 100%;
    height: 50vh;
    grid-row: 1/-1;
    align-self: center;
    justify-self: center;
  }

  .big-image1 > img {
    margin-top: 15%;
    margin-left: 10%;
  }

  .image-info1 {
    width: 80%;
    height: 5vh;
  }

  .product-name1 {
    font-size: 22px;
  }

  .product-price1 {
    font-size: 18px;
  }

  .description1 {
    height: auto;
  }

  .big-description1 {
    font-size: 20px;
    padding-top: 40px;
  }

  .brief1 {
    font-size: 18px;
  }

  .add-to-cart1 {
    width: 180px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    left: 55%;
    top: 10%;
    border: 2px solid;
    background-color: white;
    color: black;
  }

  .add-to-cart1 > p {
    font-size: 20px;
    color: black;
  }

  .cart-form {
    grid-column: 2;
    grid-row: 3;
  }

  .cart-form > input {
    margin-top: 30px;
    width: 50%;
    border: none;
    font-size: 22px;
    background-color: transparent;
  }

  .cart-form > label {
    font-size: 20px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .section-product1 {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
  }

  .big-image1 {
    width: 100%;
    height: 50vh;
    grid-row: 1/-1;
    align-self: center;
    justify-self: center;
  }

  .big-image1 > img {
    margin-top: 15%;
    margin-left: 10%;
  }

  .image-info1 {
    width: 80%;
    height: 5vh;
  }

  .product-name1 {
    font-size: 22px;
  }

  .product-price1 {
    font-size: 18px;
  }

  .description1 {
    height: auto;
  }

  .big-description1 {
    font-size: 20px;
    padding-top: 40px;
  }

  .brief1 {
    font-size: 20px;
  }

  .add-to-cart1 {
    width: 180px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    left: 55%;
    top: 10%;
    border: 2px solid;
    background-color: white;
    color: black;
  }

  .add-to-cart1 > p {
    font-size: 20px;
    color: black;
  }

  .cart-form {
    grid-column: 2;
    grid-row: 3;
  }

  .cart-form > input {
    margin-top: 30px;
    width: 50%;
    border: none;
    font-size: 22px;
    background-color: transparent;
  }

  .cart-form > label {
    font-size: 20px;
    padding-right: 10px;
  }
}

/* Cart */
.product-info {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 5%;
}

.big-text {
  font-size: 16px;
  color: black;
  font-weight: bolder;
}

.small-text {
  font-size: 14px;
  color: gray;
  padding-top: 2px;
}

.table-center {
  width: 80%;
  margin: auto;
}

.bold {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 20px;
  width: 70%;
}

.cart-form {
  justify-self: flex-start;
}

.cart-form > input {
  margin-top: 30px;
  width: 15%;
  border: none;
  font-size: 20px;
  background-color: transparent;
}

.cart-form > label {
  font-size: 20px;
  padding-right: 10px;
}

.small {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 20px;
}

.total-price {
  float: right;
}

.total-price > span {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bolder;
}

.checkout-button {
  display: inline-block;
  width: 160px;
  height: 40px;
  border: 2px solid;
  text-align: center;
  background: transparent;
}

.checkout-button a {
  font-size: 16px;
  display: block;
  padding-top: 10px;
}

.checkout-button > a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.checkout-button-mobile {
  display: none;
}

@media screen and (max-width: 760px) {
  .product-info {
    margin-bottom: 10%;
  }

  .table-center {
    width: 100%;
    margin: auto;
  }

  .bold {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 14px;
    width: 100%;
  }

  .cart-form > input {
    width: 70%;
    border: none;
    font-size: 16px;
    background-color: transparent;
    position: relative;
    top: -10px;
    margin: auto;
  }

  .cart-form > label {
    font-size: 16px;
    display: block;
    margin-top: 30px;
  }

  .small {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 16px;
  }

  .total-price {
    width: 50%;
    float: right;
    margin: 10px 20px 0 0;
    text-align: right;
  }

  .total-price > span {
    font-size: 14px;
    padding: 8px;
    font-weight: bolder;
  }

  .checkout-button {
    display: none;
  }

  .checkout-button-mobile {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #172c50;
    color: white;
    z-index: 1;
  }

  .checkout-button > p {
    font-size: 20px;
    display: block;
    padding-top: 2px;
    color: white;
  }
}

/* checkout page */
a {
  text-decoration: none;
}

.product-info {
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

.big-text {
  font-size: 20px;
  color: black;
  font-weight: bolder;
}

.form-section {
  width: 100%;
  height: 100%;
}

.checkout-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.5fr 0.5fr;
}

.section-1,
.section-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  grid-column-gap: 1em;
}

.section-1 {
  grid-template-rows: repeat(6, 1fr);
}

.section-2 {
  grid-row: 3;
}

.heading {
  grid-column: 1/6;
  font-size: 18px;
  font-weight: bolder;
}

.text-field {
  border-bottom: 2px solid gray;
  width: 80%;
  margin-top: 20px;
}

.text-field input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
}

.text-field select {
  font-size: 15px;
  border: none;
  font-weight: lighter;
  background-color: transparent;
}

.text-fields {
  width: 80%;
  margin-top: 20px;
}

#account-info,
#phone,
#shipping,
#city,
#countries {
  grid-column: 1/7;
}

#state {
  grid-column: 1/4;
  justify-self: flex-end;
}

#zip {
  grid-column: 4/7;
  justify-self: flex-start;
}

#countries > label {
  display: block;
}

#countries > select {
  margin-top: 15px;
}

#pay {
  grid-column: 1/7;
}

.summary {
  margin: auto;
  width: 80%;
}

.pro1,
.total {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.product-name {
  font-size: 15px;
}

.product-price {
  float: right;
  font-size: 14px;
}

.order-button {
  display: none;
}

.place-order-button {
  width: 50%;
  height: 40px;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .big-text {
    font-size: 20px;
  }

  .form-section {
    width: 90%;
    margin: auto;
  }

  .checkout-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 60vh;
  }

  .section-1,
  .section-2 {
    width: 100%;
  }

  .section-1 {
    grid-row: 1/4;
    margin-top: 12px;
  }

  .section-2 {
    height: 30vh;
    grid-column: 2;
    grid-row: 2;
  }

  .heading {
    font-size: 20px;
  }

  .text-field select {
    font-size: 18px;
  }

  #bill > label {
    font-size: 18px;
  }

  .summary {
    margin-top: 30px;
  }

  .pro1,
  .total {
    margin-top: 20px;
    font-size: 18px;
  }

  .product-name {
    font-size: 16px;
  }

  .product-price,
  .total-price {
    font-size: 18px;
  }

  .place-order-button {
    display: block;
    border: 2px solid;
    width: 170px;
    height: 40px;
    text-align: center;
    background: transparent;
    grid-column: 2;
    grid-row: 3;
  }

  .order-button > p {
    display: block;
    color: black;
    font-size: 18px;
    padding-top: 4px;
  }

  .place-order {
    display: none;
  }

  ::-webkit-input-placeholder {
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) {
  .big-text {
    font-size: 20px;
  }

  .form-section {
    width: 90%;
    margin: auto;
  }

  .checkout-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 60vh;
  }

  .section-1,
  .section-2 {
    width: 100%;
  }

  .section-1 {
    grid-row: 1/4;
    margin-top: 12px;
  }

  .section-2 {
    height: 30vh;
    grid-column: 2;
    grid-row: 2;
  }

  .heading {
    font-size: 20px;
  }

  .text-field select {
    font-size: 18px;
  }

  #bill > label {
    font-size: 18px;
  }

  .summary {
    margin-top: 30px;
  }

  .pro1,
  .total {
    margin-top: 20px;
    font-size: 16px;
  }

  .product-name {
    font-size: 16px;
  }

  .product-price,
  .total-price {
    font-size: 16px;
  }

  .place-order-button {
    display: block;
    border: 2px solid;
    width: 170px;
    height: 40px;
    text-align: center;
    background: transparent;
    grid-column: 2;
    grid-row: 3;
  }

  ::-webkit-input-placeholder {
    font-size: 14px;
  }
}

/* payment message */

.payment-message-success {
  width: 100%;
  height: 50px;
  border: 2px solid green;
  border-radius: 4px;
  background-color: rgb(186, 240, 186);
  color: black;
  margin-bottom: 20px;
}

.payment-message-danger {
  width: 100%;
  height: 50px;
  border: 2px solid red;
  border-radius: 4px;
  background-color: rgb(237, 166, 166);
  color: black;
  margin-bottom: 20px;
}

.payment-message-success,
.payment-message-danger > p {
  font-size: 18px;
  font-weight: 900;
  padding: 10px;
}

/* header position */

.header-postion {
  position: relative;
  left: 20%;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .header-postion {
    left: 35%;
  }
}

@media screen and (min-width: 1025px) {
  .header-postion {
    left: 40%;
  }
}

.company-logo {
  width: 200px;
  height: 100px;
}

.company-logo > p {
  font-size: 2em;
  font-weight: bolder;
  font-family: "Oleo Script", cursive;
  padding-top: 10px;
  padding-left: 10px;
}

.AlignCenter {
  width: 70%;
  height: auto;
  margin: 15% 0 0 20%;
}

.sec1,
.sec2 {
  width: 45%;
  display: inline-block;
}

.sec1 > h3 {
  font-weight: bolder;
}

.sec2 > h3 {
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .sec1,
  .sec2 {
    width: 100%;
    display: block;
    margin-top: 100px;
  }
}
